<%- include('header'); -%>

<div class="box" id="heading">
  <% if (listTitle==="Saturday"||listTitle==="Sunday") { %>
  <h1 style="color: blue"><%= listTitle %> ToDo Lists</h1>
  <% } else { %>
  <h1 style="color: red"><%= listTitle %> ToDo Lists</h1>
  <% }%>
</div>

<div class="box">
  <% for( let index = 0; index < newItemListArray.length; index++ ) { %>
  <div class="item">
    <input type="checkbox" name="" id="" />
    <p><%= newItemListArray[index] %></p>
  </div>
  <% } %>
  <form action="/" class="item" method="post">
    <input
      type="text"
      name="newItem"
      id=""
      placeholder="Enter what to Do!"
      autocomplete="on"
    />
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>

<%- include('footer'); -%>
